* {
    font-family: "Lato", sans-serif;
}

body {
    margin: 0;
}

#app {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    height: 100vh; /*ocupa 100 do height*/

    display: grid;
    grid-template-rows: 60px 1fr 40px; /* definindo três linhas no grid*/
    grid-template-columns: 300px 1fr; /* definindo duas colunas no grid*/
    /*Definindo as areas do grid*/
    grid-template-areas: 
        "header header"
        "menu content"
        "menu footer"
    ;
}

#app.hide-menu {
    grid-template-areas: 
        "header header"
        "content content"
        "footer footer"
    ;
}